SOAP.ConsoleApp/Assets/PaymentServiceDemo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://localhost:8088/PaymentServiceDemo/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="PaymentServiceDemo"
                  targetNamespace="http://localhost:8088/PaymentServiceDemo/">

  <wsdl:documentation>Definition for a web service called PaymentServiceDemo,
    which can be used to increase or decrease user account balance
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8088/PaymentServiceDemo/">
      <xsd:element name="PaymentData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UserId" type="xsd:string"/>
            <xsd:element name="PaymentAmount" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="BalanceInfo">
        <xsd:complexType>
          <xsd:sequence>            
            <xsd:element name="UserId" type="xsd:string"/>
            <xsd:element name="BalanceAmount" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="IncreaseUserBalanceRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:PaymentData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DecreaseUserBalanceRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:PaymentData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="UserBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:BalanceInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="IncreaseUserBalanceRequest">
    <wsdl:part element="tns:IncreaseUserBalanceRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IncreaseUserBalanceResponse">
    <wsdl:part element="tns:UserBalanceResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="DecreaseUserBalanceRequest">
    <wsdl:part element="tns:DecreaseUserBalanceRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DecreaseUserBalanceResponse">
    <wsdl:part element="tns:UserBalanceResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="PaymentServiceDemo">
    <wsdl:operation name="IncreaseUserBalance">
      <wsdl:input message="tns:IncreaseUserBalanceRequest"/>
      <wsdl:output message="tns:IncreaseUserBalanceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DecreaseUserBalance">
      <wsdl:input message="tns:DecreaseUserBalanceRequest"/>
      <wsdl:output message="tns:DecreaseUserBalanceResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PaymentServiceDemoSOAP" type="tns:PaymentServiceDemo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IncreaseUserBalance">
      <soap:operation soapAction="http://localhost:8088/PaymentServiceDemo/IncreaseUserBalance"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecreaseUserBalance">
      <soap:operation soapAction="http://localhost:8088/PaymentServiceDemo/DecreaseUserBalance"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PaymentServiceDemo">
    <wsdl:port binding="tns:PaymentServiceDemoSOAP" name="PaymentServiceDemoSOAP">
      <soap:address location="http://localhost:8088/PaymentServiceDemo"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>